.header-underline:active{
    border: none;
    border-bottom: 3px solid rgb(31, 170, 0);
    padding-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nav-cart-count{
    width: 15px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: -28px;
    border-radius: 50%;
    background-color: red;
    font-size: 12px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-left: 9px;
    height: 15px;
    padding-bottom: 2px;
    opacity: 0.8;
}